@import "../../../styles/media";
@import "../../../styles/spacing";
@import "../../../styles/type";

.root {
  margin-bottom: $spacing-1;

  @include media-desktop-down {
    font: $type-display-medium;
    font-weight: 700;
  }
}
