@import "./color";
@import "./radius";
@import "./type";
@import "./spacing";

@mixin reset {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  appearance: none;
  cursor: pointer;

  &:focus-visible {
    outline: $color-accent auto 1px;
    outline: activeborder auto 1px;
    outline: -moz-mac-focusring auto 1px;
    outline: -webkit-focus-ring-color auto 1px;
  }
}

@mixin text-button-base {
  @include type-body-tiny;
  font-weight: 600;
  padding-top: $spacing-1-5;
  padding-bottom: $spacing-1-5;
  padding-left: $spacing-2-5;
  padding-right: $spacing-2-5;
  border-radius: $radius-x-large;
}

@mixin icon-button-base($size: medium) {
  @if $size == medium {
    padding-top: $spacing-1;
    padding-bottom: $spacing-1;
    padding-left: $spacing-1;
    padding-right: $spacing-1;
  }
  @if $size == small {
    padding-top: $spacing-0-5;
    padding-bottom: $spacing-0-5;
    padding-left: $spacing-0-5;
    padding-right: $spacing-0-5;
  }

  border-radius: $radius-pill;
}

@mixin premium {
  background-color: $color-upgrade;
  color: $color-primary;
}
