// Dictionary
$-module: 0.5rem;

$spacing-0-25: calc($-module / 4); //2px
$spacing-0-5: calc($-module / 2); //4px
$spacing-1: $-module; //8px
$spacing-1-5: calc($-module * 1.5); //12px
$spacing-2: calc($-module * 2); //16px
$spacing-2-5: calc($-module * 2.5); //20px
$spacing-3: calc($-module * 3); //24px
$spacing-4: calc($-module * 4); //32px
$spacing-5: calc($-module * 5); //40px
$spacing-6: calc($-module * 6); //48px
$spacing-7: calc($-module * 7); //56px
$spacing-8: calc($-module * 8); //64px
$spacing-9: calc($-module * 9); //72px
$spacing-10: calc($-module * 10); //80px

// Semantic
$spacing-page-block: $spacing-4;
$spacing-page-inline: $spacing-6;
