@use "../../../styles/material";
@import "../../../styles/color";
@import "../../../styles/spacing";
@import "../../../styles/type";

.root > a {
  @include material.card;
  display: block;
  height: 100%;
  padding-top: $spacing-1-5;
  padding-bottom: $spacing-1-5;
  padding-left: $spacing-3;
  padding-right: $spacing-3;
}

.title {
  font: $type-heading-medium;
  font-weight: 400;
}

.amount {
  font: $type-heading-medium;
  font-weight: 500;
}

.date {
  font: $type-body-medium;
  color: $color-secondary;
}

.illustration {
  margin-top: $spacing-4;
}
