@import "../../styles/spacing";
@import "../../styles/media";

.root {
  min-height: 100%;

  @include media-desktop-up {
    display: grid;
    grid-template-columns: 16rem 1fr;
  }
}

.sidebar {
  @include media-tablet-down {
    display: none;
  }
}

.pageContent {
  padding-top: $spacing-page-block;
  padding-bottom: $spacing-page-block;
  padding-left: $spacing-page-inline;
  padding-right: $spacing-page-inline;
}
