@import "./styles/media";
@import "./styles/spacing";

.root {
  height: 100%;
}

.header {
  margin-bottom: $spacing-6;
}

.dashboardGrid {
  display: grid;

  @include media-x-wide-desktop {
    grid-template-columns: minmax(38rem, 1fr) auto;
    column-gap: $spacing-4;
  }

  @include media-wide-desktop-down {
    row-gap: $spacing-5;
  }
}

.mainColumn {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-2-5;
}

.secondaryColumn {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-5;

  @include media-x-wide-desktop {
    width: 30rem;
  }

  & .userActionsSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: $spacing-2;

    @include media-x-wide-desktop {
      grid-template-columns: 2fr 1fr;
    }

    @include media-wide-desktop-down {
      grid-template-columns: 1fr 1fr;
    }
  }
}
