@import "../../styles/color";
@import "../../styles/radius";
@import "../../styles/spacing";
@import "../../styles/type";

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-2;
  margin-block-end: $spacing-2;
  padding-block: $spacing-2;
  box-shadow: 0 0 0 1px $color-divider;
  border-radius: $radius-large;
}

.header {
  padding-block-end: $spacing-2;
  padding-inline: $spacing-2;
  box-shadow: 0 1px 0 0 $color-divider;
}

.title {
  @include type-heading-small;
}

.description {
  @include type-body-small;
  color: $color-secondary;
}

.content {
  padding-inline: $spacing-2;
  gap: $spacing-1-5;

  &.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: start;
  }
  &.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: start;
  }
  &.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.root code {
  margin-inline-end: $spacing-0-5;
  padding-inline: $spacing-0-5;
  border-radius: $radius-small;
  background-color: $color-divider;
}
